.showcase {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 20px;
	color: #fff;
}

.video_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #3a4052 url('https://res.cloudinary.com/dzo9spu3l/image/upload/v1613847199/cover_fyjzel.png') no-repeat center center/cover;
}

.video_container video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video_container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 10;
}

.content h1 {
	color: #FFB000;
	font-weight: bold;
}

.written_and {
	font-size: 55px;
}

.directed_by {
	font-size: 55px;
}

.quentin {
	font-size: 75px;
}

.tarantino {
	font-size: 75px;
}

.content button {
	color: #FFB000;
	background: transparent;
	border: none;
	font-size: 25px;
	border-radius: 60%;
	transition: 0.3s;
}

.content button:hover {
	color: #fff;
	background: #000;
	font-size: 30px;
	padding: 5px 10px;
}

.about {
	background: #1D1D1D;
	color: #fff;
	padding: 60px 0;
}

.about h1 {
	text-align: center;
	margin-bottom: 60px;
}

.about span {
	color: #868686;
	border-radius: 15px;
	border-bottom: 15px solid #FFB000;
	display: inline-block;
}

.about span.quentin_tarantino {
	border: none;
	display: block;
	margin-bottom: -13px;
}

.about p {
	font-size: 20px;
}

.about button {
	margin-left: 10px;
}

.movies {
	background-color: #1D1D1D;
}

.movies h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.movies span {
	color: #fff;
	border-radius: 15px;
	border-bottom: 15px solid #FFB000;
	display: inline-block;
}

.movies span.quentin_movies {
	border: none;
	display: block;
	margin-bottom: -13px;
}

.carddeck {
	margin-bottom: 30px;
}

.cardbody {
	background-color: #1D1D1D;
	padding: 3px 0px;
}

.cardbody h5 {
	color: #fff;
	text-align: center;
}

.card {
	border: 1px solid #1D1D1D;
	transition: 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.1);
	box-shadow: 1px;
}

.movies button {
	text-align: center;
	margin-bottom: 50px;
	margin-top: -10px;
}

@media only screen and (max-width: 768px) {
	.content h1 {
		width: 100%;
		font-size: 50px;
	}
	.about p {
		font-size: 15px;
	}
	.carddeck {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 700px) {
	.carddeck {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about p {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 330px) {
	.content h1 {
		width: 100%;
		font-size: 45px;
	}
}