.showcase {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 20px;
	color: #fff;
}

.hero_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hero_container img {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.hero_container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 10;
    text-align: center;
}

.content h1 {
	color: transparent;
    text-decoration: uppercase;
	font-weight: bold;
    font-size: 100px;
    background-image: linear-gradient(to left, #fff, #FFB000, #C41922);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}

@keyframes animate {
    0% {
        background-position: 0 100%;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 100%;
    }
}

.movies {
	background-color: #1D1D1D;
}

.movies h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.movies span {
	color: #fff;
	border-radius: 15px;
	border-bottom: 15px solid #FFB000;
	display: inline-block;
}

.movies span.quentin_movies {
	border: none;
	display: block;
	margin-bottom: -13px;
}

.carddeck {
	margin-bottom: 30px;
}

.cardbody {
	background-color: #1D1D1D;
	padding: 3px 0px;
}

.cardbody h5 {
	color: #fff;
	text-align: center;
}

.card {
	border: 1px solid #1D1D1D;
	transition: 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.1);
	box-shadow: 1px;
}

@media only screen and (max-width: 768px) {
	.carddeck {
		display: grid;
		grid-template-columns: repeat(2, 2fr);
		justify-content: center;
		align-items: center;
	}
    .content h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 700px) {
	.carddeck {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}